# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

/.idea
/_mydata
/docroot/sites/default/settings.php
/docroot/sites/default/settings.local.php
/docroot/themes/alex_education/.sass-cache
/docroot/themes/alex_education/node_modules
/docroot/themes/alex_education/css/*.map
