.postscript-top {
  background-color: #F8F6F7;
  padding: 20px 0;
}

.postscript-middle {
  background-color: #E0E0E0;
  padding: 20px 0;
}

.postscript-bottom {
  color: #FFF;
  padding: 0 0 20px 0;
  background: url(../images/postscript-bottom-bg.png) #2B2B2B;
  h2 {
    color: #FFF;
  }
  a {
    color: #FEDC66;
    font-weight: 700;
    text-decoration: underline;
  }
}

.node-readmore,
.more-link {
  float: right;
  font-weight: 700;
}

.region-sidebar-second {
  .more-link {
    margin-top: 5px;
  }
}

.form-item .label {
  color: #000;
  font-size: 100%;
}

.statistics-counter {
  float: right;
}

.field--name-field-tags .field--item,
.field--name-taxonomy-forums {
  display: inline-block;
  a {
    position: relative;
    margin: 10px 10px 10px 0;
    border: 1px solid #C8C8C8;
    border-right: none;
    padding: 0 10px;
    display: block;
    text-decoration: none;
    &:after {
      @extend .alex-icon-after;
      background-position: -178px -219px;
    }
    &:hover {
      color: #FFF;
      background-color: #5D8136;
      &:after {
        background-position: -171px -219px;
      }
    }
  }
}

.feed-icons {

}

.feed-icon {
  background: url(../../../core/misc/feed.svg) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
}

.region-sidebar-second {
  section,
  nav {
    margin-bottom: 15px;
  }
  h2 {
    font-size: 14px;
    margin: 0 0 5px 0;
  }
}

.green-menu {
  .nav {
    border: 1px solid #E8E8E8;
    font-size: 16px;
    font-weight: 700;
    > li {
      border-bottom: 1px solid #E8E8E8;
      > a {
        &:hover,
        &:focus {
          background-color: #DFB;
        }
        &.is-active {
          background-color: #DFB;
        }
      }
      &:last-child {
        border: none;
      }
      &.active {

      }
    }
  }
}

.materials-menu {
  .contextual {
    li {
      &:before {
        content: '';
        display: none;
      }
    }
  }
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    border: 1px solid #E8E8E8;
    > li {
      position: relative;
      display: block;
      border-bottom: 1px solid #E8E8E8;
      padding: $nav-link-padding;
      > a {
        display: block;
      }
      &:last-child {
        border: none;
      }
      &:before {
        @extend .alex-icon-before;
        background-position: -98px -198px;
      }
    }
  }
}
