/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$font-family-base: Arial, 'sans-serif';
$font-size-base: 13px;
$line-height-base: 1.6;
$text-color: #000;
$body-bg: #FFF;

$link-color: #5D8136;

$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: #EFEFEF;
$breadcrumb-color: #6e6e6e;
$breadcrumb-active-color: #6e6e6e;

$pagination-color: #5D8136;
$pagination-bg: #FFF;
$pagination-border: #5D8136;
$pagination-hover-color: #5D8136;
$pagination-hover-bg: #F8F6F7;
$pagination-hover-border: #5D8136;
$pagination-active-color: #FFF;
$pagination-active-bg: #5D8136;
$pagination-active-border: #5D8136;

$btn-default-color: #FFF;
$btn-default-bg: #7aa843;
$btn-default-border: #729e40;

$btn-success-color: #FFF;
$btn-success-bg: #5D8136;
$btn-success-border: #5D8136;
